.empty-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.send-btn {
  padding: 3px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.send-btn.disabled {
  background-color: rgba(0, 0, 0, .1);
}